  <div class="container">
    <div class="row row-cols-1 row-cols-md-2" data-masonry='{"percentPosition": true }'>
		{{ range (where .Site.Pages "Type" "post") }}
	

      <div class="mb-4 ">
        <div class="card ">
          <img src="{{.Params.image}}" class="card-img-top" alt="{{ .Title }}">
         <div class="card-body">
            <h5 class="card-title">	{{ .Params.Title }}</h5>
			<p class="card-text">{{ .Params.description}}</p>
			<a href="{{.Permalink}}" class="stretched-link">Entrar</a>
          </div>
        </div>
      </div>
	  {{ end }}

    </div>
  </div>
